
#intro {
    background-color: rgb(147, 224, 238);
    width: 1000px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;


    padding: 20px;
}
.robo {
    width: 120px;
}
.texto {
    flex: 1;
    margin-left: 20px;
}
.texto h1 {
    margin: 0;
    font-size: 40px;
}
.texto p {
    margin: 5px 0 0 0;
}
.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.botoes button {
    background-color: rgb(16, 28, 97);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    width: 220px;
    border-radius: 15px;
}
.botoes button:hover {
    background-color: rgb(0, 20, 180);
}
.card-status {
    background-color: white;
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-header h3 {
    margin: 0;
    font-size: 16px;
}

.card-header a {
    text-decoration: none;
    font-size: 13px;
    color: #007bff;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    text-align: left;
    font-size: 13px;
    color: gray;
    padding-bottom: 8px;
}
td {
    padding: 8px 0;
    font-size: 14px;
}
.status {
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
}
.aprovado {
background-color: rgb(43, 80, 6);
}
.pendente {
    background-color: #ffc107;
    color: black;
}
.cancelado {
    background-color: #dc3545;
}